@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Kanit:wght@300;600;700&family=Ubuntu&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #ebf1f8;
    font-family: 'Kanit', sans-serif;
    font-size: 13px;
}

a {
    text-decoration: none;
}

a:hover {
    color: #256D85;
}

.all_forms {
    position: relative;
    z-index: 1;
    height: 50px;
    background-color: #ebf1f8;
    border: 0px solid #ebf1f8;
    padding: 10px 30px;
    color: #000;
    border-radius: 10px;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

.all_forms:focus {
    background-color: #ebf1f8;
    box-shadow: none;
}

.all_forms_label {}

.form_title {
    font-size: 13px;
}

.all_btn {
    color: white;
    height: 40px;
    width: 100px;
    background-color: #002B5B;
    border-color: #002B5B;
    border-radius: 10px;
    border: 0;
    margin-bottom: 30px;
}

.all_btn:hover {
    background-color: #256D85;
    color: #eee;
}

.all_btn:focus {
    background-color: #256D85;
    color: #eee;
    outline-color: transparent;
}

.box {
    box-shadow: #32325d40 0px 30px 60px -12px, #0000004d 0px 18px 36px -18px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: white;
}

.block-title {
    font-weight: 600;
    font-size: 16px;
}

.title-border {
    border-bottom: #002B5B solid 4px;
    text-transform: capitalize;
    padding: 5px 0px;
    width: 80px;
    margin-bottom: 30px;
}

.pallete {
    color: #002B5B #2B4865 #256D85 #8FE3CF;
}

/* Nav*/
.navbar {
    background-color: #002B5B !important;
    margin-bottom: 30px;
}

.navbar .navbar-nav {
    margin: 0 auto;
}

.middle_form {
    color: #000;
    display: flex;
    padding: 2px;
    border: 1px solid currentColor;
    border-radius: 10px;
    background-color: #ebf1f8;
}

input.middle_input[type="search"] {
    border: none;
    background: #ebf1f8;
    margin: 0;
    padding: 10px 30px;
    font-size: 13px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

input.middle_input[type="search"]::placeholder {
    color: #000;
}

.middle_btn {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
}

button.middle_btn:hover {
    opacity: 1;
}

button.middle_btn:focus,
input[type="search"]:focus {
    box-shadow: 0 0 3px 0 #eee;
    border-color: #eee;
    outline: none;
}

.btn-search {
    color: white;
    height: 50px;
    width: 50px;
    background-color: #eee;
    border-color: #eee;
    border-radius: 50%;
    border: 0;
    margin-left: 10px;
}

.btn-search:hover {
    background-color: #256D85;
    color: #eee;
}

.btn-search:focus {
    background-color: #256D85;
    color: #eee;
    outline-color: transparent;
}

ul.nav_tool {
    padding: 0;
    margin: 0;
}

.nav_tool li {
    display: inline-block;
    margin-right: 10px;
}

.nav_tool li a {
    text-decoration: none;
    color: #eee;
    font-size: 20px;
}

.nav_tool li a:hover {
    color: #8FE3CF;
}

.dropdown-menu {
    box-shadow: #32325d40 0px 30px 60px -12px, #0000004d 0px 18px 36px -18px;
}

.dropdown-item {
    color: #000 !important;
    font-size: 13px !important;
}

.badge {
    margin-left: 5px;
    border-radius: 50%;
    background-color: #8FE3CF;
    font-size: 50%;
    vertical-align: top;
}

.la-bars {
    font-size: 20px;
    color: #eee;
    border: 0;
}

.navbar-dark .navbar-toggler {
    border: none !important;
}

button.navbar-toggler {
    outline: 0 !important;
}

.nav-item .nav-link a {
    color: white;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav-link .user-thumb-text {
    color: white;
    font-weight: 700;
    font-size: 20px;
}

.fa-search {
    color: white;
}

/*** SIDE BAR ***/
.sidebar {
    background-color: #ffffff !important;
    position: fixed;
    top: 0 !important;
    bottom: 0;
    left: 0;
    z-index: 100;
    /* Behind the navbar */
    padding: 70px 0 0;
    /* Height of navbar */
    box-shadow: #32325d40 0px 30px 60px -12px, #0000004d 0px 18px 36px -18px;
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 6rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.side_nav li a {
    font-size: 16px;
    color: #000;
    margin-bottom: 15px;
    font-weight: 600;
}

.side_nav li a:hover {
    color: #256D85;
}

.side_nav li.active {
    background-color: #ebf1f8;
    border-radius: 10px;
}

.side_nav li.active a:hover {
    color: #256D85;
}

/*** SIDE BAR ***/
.breadcrumb {
    margin-bottom: 30px;
    box-shadow: #32325d40 0px 30px 60px -12px, #0000004d 0px 18px 36px -18px;
}

.breadcrumb-item a {
    text-decoration: none;
    color: #002B5B;
    font-weight: 600;
}

.alert {
    margin-bottom: 30px;
    box-shadow: #32325d40 0px 30px 60px -12px, #0000004d 0px 18px 36px -18px;
}

.over_customer {
    background-color: #002B5B;
    color: #eee;
    height: 70px;
    width: 70px;
    border-radius: 10px;
    padding: 20px 20px;
    font-size: 30px;
}

.media-body h4 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
}

.media-body h5 a {
    font-size: 13px;
    text-decoration: none;
    color: #000;
}

.media-body h5 a:hover {
    color: #256D85;
}
.table{
    margin-bottom: 30px;
} 
.table .thead-dark th{
    background-color: #002B5B;
}
.dataTables_wrapper{
}
.dataTables_length{

}
.dataTables_filter{
    
}